{% extends "template.html" %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <h1>{{ subject }}</h1>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.login.login'|trans({
                    'email': email,
                    'ip': ip,
                    'user_agent': user_agent,
                    'date': date
                }) }}
            </td>
        </tr>
    </table>
{% endblock %}
