{% extends "template.html" %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <h1>{{ subject }}</h1>
            </td>
        </tr>
        <tr>
            <td class="content-block alert alert-good">
                <div class="token__value">
                    {{ 'mail.payment_referral.body'|trans({'amount': referral.amount}) }}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
