.swagger-ui,
.swagger-ui button, .swagger-ui input, .swagger-ui optgroup, .swagger-ui select, .swagger-ui textarea,
.swagger-ui .opblock-tag,
.swagger-ui .opblock-tag small,
.swagger-ui .opblock .opblock-section-header label,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .opblock .opblock-summary-method,
.swagger-ui .opblock .opblock-summary-description,
.swagger-ui .tab li,
.swagger-ui .opblock-description-wrapper, .swagger-ui .opblock-external-docs-wrapper, .swagger-ui .opblock-title_normal,
.swagger-ui .opblock-description-wrapper h4, .swagger-ui .opblock-external-docs-wrapper h4, .swagger-ui .opblock-title_normal h4,
.swagger-ui .opblock-description-wrapper p, .swagger-ui .opblock-external-docs-wrapper p, .swagger-ui .opblock-title_normal p,
.swagger-ui .responses-inner h4, .swagger-ui .responses-inner h5,
.swagger-ui .response-col_status,
.swagger-ui .response-col_links,
.swagger-ui .download-contents,
.swagger-ui .scheme-container .schemes > label,
.swagger-ui .loading-container .loading:after,
.swagger-ui section h3,
.swagger-ui .btn,
.swagger-ui .btn.cancel,
.swagger-ui select,
.swagger-ui label,
.swagger-ui .dialog-ux .modal-ux-content p,
.swagger-ui .dialog-ux .modal-ux-content h4,
.swagger-ui .dialog-ux .modal-ux-header h3,
.swagger-ui section.models h4,
.swagger-ui section.models h5,
.swagger-ui .model-title,
.swagger-ui .model-deprecated-warning,
.swagger-ui .servers > label,
.swagger-ui table thead tr td, .swagger-ui table thead tr th,
.swagger-ui .parameter__name,
.swagger-ui .topbar a,
.swagger-ui .topbar .download-url-wrapper .download-url-button,
.swagger-ui .info li, .swagger-ui .info p, .swagger-ui .info table,
.swagger-ui .info h1, .swagger-ui .info h2, .swagger-ui .info h3, .swagger-ui .info h4, .swagger-ui .info h5,
.swagger-ui .info a,
.swagger-ui .info .title,
.swagger-ui .info .title small pre,
.swagger-ui .scopes h2,
.swagger-ui .errors-wrapper hgroup h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.swagger-ui pre,
.swagger-ui code, .swagger-ui kbd, .swagger-ui samp,
.swagger-ui .parameter__type,
.swagger-ui .opblock .opblock-summary-operation-id, .swagger-ui .opblock .opblock-summary-path, .swagger-ui .opblock .opblock-summary-path__deprecated,
.swagger-ui .response-col_status .response-undocumented,
.swagger-ui .response-col_links .response-undocumented,
.swagger-ui .response-col_description__inner div.markdown, .swagger-ui .response-col_description__inner div.renderedMarkdown,
.swagger-ui .response-col_description__inner div.markdown p, .swagger-ui .response-col_description__inner div.renderedMarkdown p,
.swagger-ui .response-col_description__inner div.markdown a, .swagger-ui .response-col_description__inner div.renderedMarkdown a,
.swagger-ui .response-col_description__inner div.markdown th, .swagger-ui .response-col_description__inner div.renderedMarkdown th,
.swagger-ui .opblock-body pre,
.swagger-ui textarea,
.swagger-ui textarea.curl,
.swagger-ui .checkbox p,
.swagger-ui .model,
.swagger-ui table.headers td,
.swagger-ui .parameter__extension, .swagger-ui .parameter__in,
.swagger-ui .parameter__deprecated,
.swagger-ui .info code,
.swagger-ui .info .base-url,
.swagger-ui .auth-container .errors,
.swagger-ui .errors-wrapper .errors h4 {
    font-family: Menlo, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
