/* -------------------------------------
    GLOBAL
------------------------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

img {
    max-width: 100%;
}

body {
    -webkit-text-size-adjust: none;
    width: 100% !important;
    height: 100%;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* Let's make sure all tables have defaults */
table td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
    background-color: #fff;
}

.body-wrap {
    background-color: #fff;
    width: 100%;
}

.header-wrap {
    background-color: #353535;
    width: 100%;
    padding: 20px 0;
}

.container {
    display: block !important;
    max-width: 600px !important;
    margin: 0 auto !important;
    /* makes it centered */
    clear: both !important;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 0 20px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
    background: #fff;
}

.content-wrap {
    padding: 10px 0;
}

.content-block {
    padding: 20px;
}

.content-block-small {
    padding: 8px;
}

.token__label {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.token__value {
    font-size: 32px;
    color: #fff;
}

.header {
    width: 100%;
}

.header-logo {
    color: #fff;
}

.header-logo svg {
    max-width: 240px;
    height: auto;
}

.header-social {
    color: #fff;
    text-align: right;
}

.footer {
    text-align: center;
    width: 100%;
    clear: both;
    color: #999;
    padding: 20px;
}

.footer a {
    color: #999;
}

.footer p, .footer a, .footer .unsubscribe, .footer td {
    font-size: 12px;
}

.logo {
    background-color: transparent;
    background-image: url(https://token.accasino.ch/api/public/images/logo.png);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 32px;
    width: 256px;
    display: inline-block;
}

.logo_white {
    background-image: url(https://token.accasino.ch/api/public/images/logo_white.png);
    height: 32px;
    width: 256px;
}

.social-item {
    display: inline-block;
    border-radius: 60px;
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social-item_bitcoinstalk {
    background-image: url(https://token.accasino.ch/api/public/images/bitcoin.png);
}

.social-item_telegram {
    background-image: url(https://token.accasino.ch/api/public/images/telegram.png);
}

.social-item_facebook {
    background-image: url(https://token.accasino.ch/api/public/images/facebook.png);
}

.social-item_twitter {
    background-image: url(https://token.accasino.ch/api/public/images/twitter.png);
}

.social-item_youtube {
    background-image: url(https://token.accasino.ch/api/public/images/youtube.png);
}

.social-item_header {
    background-color: #DF6143;
}

.social-item_footer {
    background-color: gray;
}

/* -------------------------------------
    GRID AND COLUMNS
------------------------------------- */
.column-left {
    float: left;
    width: 50%;
}

.column-right {
    float: left;
    width: 50%;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #000;
    margin: 0 0 0 0;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    word-break: break-all;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
    font-weight: 600;
}

p, ul, ol {
    margin-bottom: 10px;
    font-weight: normal;
}

p li, ul li, ol li {
    margin-left: 5px;
    list-style-position: inside;
}

/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
    color: #348eda;
    text-decoration: underline;
}

.btn-primary {
    text-decoration: none;
    color: #FFF;
    background-color: #348eda;
    border: solid #348eda;
    border-width: 10px 20px;
    line-height: 2;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    text-transform: capitalize;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
    margin-bottom: 0;
}

.first {
    margin-top: 0;
}

.padding {
    padding: 10px 0;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
}

.clear {
    clear: both;
}

/* -------------------------------------
    Alerts
------------------------------------- */
.alert {
    font-size: 16px;
    color: #fff;
    padding: 20px;
}

.alert a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.alert.alert-warning {
    background: #ff9f00;
}

.alert.alert-bad {
    background: #d0021b;
}

.alert.alert-good {
    background: #68b90f;
}

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 640px) {
    h1, h2, h3, h4 {
        font-weight: 600 !important;
    }

    h1 {
        font-size: 22px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    .container {
        width: 100% !important;
    }

    .content, .content-wrapper {
        padding: 10px !important;
    }
}
