{% extends "template.html" %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <h1>{{ subject }}</h1>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.transaction_error.body'|trans }}
            </td>
        </tr>
        <tr>
            <td class="content-block alert alert-bad">
                <div class="token__label">
                    {{ 'mail.transaction_error.hash'|trans }}
                </div>
                <div class="token__value">
                    {{ hash }}
                </div>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.transaction_error.link'|trans }}: <a href="https://etherscan.io/tx/{{ hash }}"
                                                            target="_blank">{{ hash }}</a>
            </td>
        </tr>
    </table>
{% endblock %}
