{% extends "template.html" %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <h1>{{ subject }}</h1>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.payment_success.body'|trans({'hash': hash}) }}
            </td>
        </tr>
        <tr>
            <td class="content-block alert alert-good">
                <div class="token__label">
                    {{ 'mail.payment_success.amount'|trans }}
                </div>
                <div class="token__value">
                    {{ amount }}
                </div>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.payment_success.link'|trans }}: <a href="https://etherscan.io/tx/{{ hash }}"
                   target="_blank">{{ hash }}</a>
            </td>
        </tr>
    </table>
{% endblock %}
